.calculator {
    width: 300px;
    margin: 50px auto;
    padding: 10px;
    border: 2px solid #333;
    border-radius: 10px;
    background-color: #f9f9f9;
    display: flex;
    flex-wrap: wrap;
    row-gap: 15px;
}
.buttons {
    display: flex;
    flex-wrap: wrap;
    /* justify-content: flex-start; werkt niet door flex: 1 in het button element */
    row-gap: 10px;
    column-gap: 10px;
}
.buttons button {
    flex: 1 1 22%;
    padding: 20px;
    font-size: 1.2rem;
}
